.bg-navy {
	background-color: var(--color-navy);
}

.bg-white {
	background-color: var(--color-white);
}

.bg-light {
	background-color: var(--color-light);
}

.bg-whitelight {
	background-color: var(--color-whitelight);
}

.bg-black-60 {
	background-color: rgba(0, 0, 0, .6);
}

.bg-black-80 {
	background-color: rgba(0, 0, 0, .8);
}

.bg-position-center {
	background-position: center center;
}

.bg-repeat-none {
	background-repeat: no-repeat;
}

.bg-size-cover {
	background-size: cover;
}



