.bg-navy {
	background-color: var(--color-navy);
}

.bg-white {
	background-color: var(--color-white);
}

.bg-position-center {
	background-position: center center;
}

.bg-repeat-none {
	background-repeat: no-repeat;
}

.bg-size-cover {
	background-size: cover;
}

