.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.mr-5 {
	margin-right: 5px;
}

.ml-5 {
	margin-left: 5px;
}

.mt-10 {
	margin-top: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mt-15 {
	margin-top: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-65{
	margin-top: 65px;
}

.mb-65 {
	margin-bottom: 65px;
}



.pl-0 {
	padding-left: 0;
}

.py-10 {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pt-20 {
	padding-top: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pt-25 {
	padding-top: 25px;
}

.pb-25 {
	padding-bottom: 25px;
}

.pl-25 {
	padding-left: 25px;
}

.pr-25 {
	padding-right: 25px;
}

.py-50 {
	padding-top: 50px;
	padding-bottom: 50px;
}

