.text-white {
	color: var(--color-white);
}

.text-orange {
	color: var(--color-orange);
}

.text-hover-orange:hover {
	color: var(--color-orange);
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-decoration-none {
	text-decoration: none;
}

.fs-md {
	font-size: 1rem;
}

.fs-lg {
	font-size: 1.14rem;
}

.fs-xxl {
	font-size: 3.45rem;
}



.fw-500 {
	font-weight: 500;
}


.lh-none {
	line-height: 1;
}

.lh-small {
	line-height: 1.2;
}

.lh-large {
	line-height: 2;
}
