:root {
	--color-black: black;
	--color-white: white;
	--color-dark: #202020;
	--color-light: #d7d7d7;
	--color-orange: #f5783a;
	--color-navy: #020032;

	--container-wrapper-width: 1200px;
	--container-width: 1140px;
}


html {
	font-family: "Rubik", sans-serif;
	font-size: 14px;
}

body {
	margin: 0;
	line-height: 1.5;
	color: var(--color-dark);
}

.container-wrapper {
	min-width: var(--container-wrapper-width);
}

.container {
	width: var(--container-width);
	margin-left: auto;
	margin-right: auto;
	padding-left: 30px;
	padding-right: 30px;
}

.d-flex {
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.column-gap-30 {
	column-gap: 30px;
}

.list-style-none {
	list-style-type: none;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.mt-15 {
	margin-top: 15px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-30 {
	margin-top: 30px;
}

.pl-0 {
	padding-left: 0;
}

.pt-20 {
	padding-top: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}

.pt-25 {
	padding-top: 25px;
}

.pb-25 {
	padding-bottom: 25px;
}

.h-14 {
	height: 14px;
}

.w-14 {
	width: 14px;
}

.border {
	border: 1px solid var(--color-black);
}

.w-45 {
	width: 45px;
}

.h-45 {
	height: 45px;
}

.d-block {
	display: block;
}

.align-items-center {
	align-items: center;
}

.rotate-right-45 {
	transform: rotate(45deg);
}

.rotate-left-45 {
	transform: rotate(-45deg);
}

.border-color-light {
	border-color: var(--color-light);
}

.bg-navy {
	background-color: var(--color-navy);
}

.text-white {
	color: var(--color-white);
}

.navbar-menu {
	list-style-type: none;
	margin-bottom: 0;
	margin-top: 0;
	display: flex;
	padding-left: 0;
}

.navbar-menu a {
	color: var(--color-white);
	text-decoration: none;
	padding: 25px 20px;
	display: block;
	text-transform: uppercase;
	font-size: 0.93rem;
	font-weight: 500;
}

.navbar-menu a:hover {
	background: var(--color-orange);
}

.text-uppercase {
	text-transform: uppercase;
}

.ratio-2x1 {
	aspect-ratio: 2/1;
}

.bg-position-center {
	background-position: center center;
}

.bg-repeat-none {
	background-repeat: no-repeat;
}

.bg-size-cover {
	background-size: cover;
}

.flex-grow {
	flex-grow: 1;
}

.rounded-pill {
	border-radius: 50rem;
}

.btn {
	text-decoration: none;
	padding: 10px 25px;
}

.btn-orange {
	background: var(--color-orange);
	color: white;
}

.text-orange {
	color: var(--color-orange);
}

.fs-md {
	font-size: 1rem;
}

.fs-lg {
	font-size: 1.14rem;
}

.fs-xxl {
	font-size: 3.45rem;
}

.fw-500 {
	font-weight: 500;
}

.lh-small {
	line-height: 1.2;
}

.lh-large {
	line-height: 2;
}