body {
	margin: 0;
}

.container {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.d-flex {
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-center {
	justify-content: center;
}

.column-gap-30 {
	column-gap: 30px;
}

.list-style-none {
	list-style-type: none;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.pl-0 {
	padding-left: 0;
}

.pt-20 {
	padding-top: 20px;
}

.pb-20 {
	padding-bottom: 20px;
}