.counter {
	display: flex;
	text-align: center;
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	font-weight: 500;
}

.counter span {
	display: block;
}

.counter span:first-child {
	font-size: 2.5rem;
}

.counter li {
	padding-left: 15px;
	padding-right: 15px;
	border-left: 1px solid rgba(255, 255, 255, .25);
}

.counter li:first-child {
	padding-left: 0;
	border: none;
}

.counter li:last-child {
	padding-right: 0;
}