* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-family: "Rubik", sans-serif;
	font-size: 14px;
}

body {
	margin: 0;
	line-height: 1.5;
	color: var(--color-dark);
}